<div>
  <%= @habit.description %>
</div>
<div>
  <%= @habit.aspect %>
</div>
<div>
  <%= @habit.date_of_initiation %>
</div>
<% @habit.each_node_completed? do |day| %>
  <card-body class="sm-3 offset-3">
    <div class="text-justify check-box <%= day == 't' ? 'fui-check' : 'fui-cross' %>">
    </div>
  </card-body>
<% end %>

<div class="col-sm-8 offset-2">
  <div class="row">
    <card-header class="col sm-3">
      <p class="text-center">Running streak for this habit</p>
    </card-header>
  </div>
  <div class="row">
    <card-body class="sm-3 offset-5 justify-content-sm-center">
      <span class="streak-count"><%= calculate_streak(@habit) %></span>
    </card-body>
  </div>
  <a href="<%= "/habits/#{@habit.id}/fractal" %>" class="btn btn-primary btn-lg btn-block">Track Habit</a>
</div>