<div class="row">
  <div class="col">
    <div class="jumbotron m-auto">
      <h1 class="text-center"><%= @page_title %></h1>
      <%== @intro_spiel %>
    </div>
  </div>
</div>

<div class="row" id="fractal">
  <div class="col">

    <div class="card" role="region">
      <div class="card-header">

        <!-- Display warnings and success messages -->
        <% if session[:message] %>
        <div class="alert alert-warning">
          <%= session.delete(:message) %>
        </div>
        <% end %>

        <form class="toggle_completed_day" action="/habits/fractal/0" method="post">
          <!-- Hidden element will pass the index of the slide to the backend for persistence -->
          <input type="hidden" name="node_completed_index" value="" id="node-completed-index">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <% @base_habit.each_with_index do |node, idx| %>
              <% @date_today = @reference_date + (@length_of_longest_habit - idx - 1) %>
              <div class="swiper-slide" data-name="<%= "0-#{idx}-day-#{node.today}" %>"
                data-date="<%= "#{@date_today.strftime '%d'}" %>">&nbsp;
                <!-- Day specific information -->
                <dl class="v-flex">
                  <dt>
                    <div class="input-group-prepend"><span class="input-group-text">Date:</span></div>
                  </dt>
                  <dd class="habit-tracked-day">
                    <h3><%= @date_today.strftime "%m/%d/%Y" %></h3>
                  </dd>
                </dl>
                <!-- Habit specific information -->
                <dl class="v-flex habit-list">
                  <dt>
                    <div class="input-group-prepend"><span class="input-group-text">Update Habit:</span></div>
                  </dt>
                  <dd class="habit-tracked-toggle v-flex">

                    <!-- Toggle button -->
                    <% if @base_habit.is_atomic %>
                    <a class="btn btn-inverse"
                      href="/habits/<%= @base_habit.id %>/list/<%= get_last_task_list_for_habit(@base_habit.id)[:habit_list_id] %>">Tasks</a>
                    <% end %>
                    <a class="btn btn-secondary" href="/habits/<%= @base_habit.id %>/update">Summary</a>
                    <div class="bootstrap-switch-square" data-toggle="tooltip" data-placement="right"
                      title="<%= TEXT[:fractal][:tooltip_day_toggle] %>">
                      <input name="completed-day-<%= idx %>" id="completed-day-<%= idx %>" type="checkbox"
                        data-toggle="switch" data-on-text="<i class='fui-check'></i>"
                        data-off-text="<i class='fui-cross'></i>" <% if (node.today == 't') %> checked <% end %> />
                    </div>
                  </dd>
                </dl>
              </div><!-- end swiper slide -->
              <% end %>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next fui-arrow-right"></div>
            <div class="swiper-button-prev fui-arrow-left"></div>

            <div class="swiper-pagination-wrapper">
              <div class="d-flex flex-wrap-reverse swiper-pagination h-flex"></div>
            </div><!-- end swiper wrapper -->
          </div><!-- end swiper container -->
        </form>
      </div>
    </div>
  </div>

</div>