<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= @page_title %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Loading Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <!-- Loading Flat UI Pro -->
  <link rel="stylesheet" href="/css/flat-ui.css">
  <!-- App specific styles -->
  <link rel="stylesheet" href="/stylesheets/app.css">
  <link rel="stylesheet" href="/stylesheets/list.css">
</head>

<body>
  <div id="container" class="m-auto">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="row">
      <div class="col">
        <div class="jumbotron m-auto">
          <h1 class="text-center"><%= @page_title %></h1>
          <%== @intro_spiel %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="card" role="region">
          <div class="card-header">
            <% if session[:message] %>
            <div class="alert alert-warning" role="alert">
              <%= session.delete(:message) %>
            </div>
            <% end %>
          </div>
          <div class="card-body">
            <%== yield %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Loading JS Assets -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/popper.js@1.14.1/dist/umd/popper.min.js" crossorigin="anonymous"></script>
  <script src="/javascripts/flat-ui.js"></script>
  <script src="/javascripts/app.js"></script>
</body>
</html>