<section role="list" class="v-flex">
  <header>
    <div class="input-group side-by-side h-flex">
      <div class="input-group-prepend"><span class="input-group-text">Habit Name:</span></div>
      <h2><%= split_and_cap(@name) %></h2>
      <form action="/habits/<%= @habit_id %>/list/<%= @list_id %>/complete_all" method="post">
      <div class="btn-block h-flex">
        <a class="btn btn-warning" href="/habits/<%= @habit_id %>/update">Habit Details</a>
        <a class="btn btn-secondary" href="/habits/fractal/<%= @habit_id %>">Track Habit</a>
        <button class="btn btn-primary btn-sm" type="submit">Complete Day</button>
      </div>
      </form>
    </div>
  </header>
  <div class="todo">
    <ul>
      <% sort_todos(@list[:todos]) do |task, idx| %>
      <% if task[:completed] %>

      <li class="todo-done h-flex">
        <% else %>
      <li class="h-flex">
        <% end %>
        <form action="/habits/<%= @habit_id %>/list/<%= @list_id %>/actions/<%= idx %>/delete" method="post"
          class="delete">
          <button type="submit" class="destroy_btn" id="destroy_btn_<%= idx %>"></button>
          <label for="destroy_btn_<%= idx %>">
            <span class="todo-icon fui-trash"></span>
          </label>
        </form>
        <div class="todo-content">
          <h2 class="todo-name" role="list-item">
            <%= task[:name] %>
          </h2>
        </div>

      <form action="/habits/<%= @habit_id %>/list/<%= @list_id %>/actions/<%= idx %>" method="post" class="check">
        <button class="complete_btn" type="submit" id="complete_btn_<%= idx %>">Complete</button>
      </form>
      </li>

      <% end %>
    </ul>
  </div>
</section>
<form action="/habits/<%= @habit_id %>/list/<%= @list_id %>/actions" method="post">
  <div class="input-group side-by-side h-flex">
    <div class="input-group-prepend">
      <label class="input-group-text" for="todo"><span>Add an Action:</span></label>
    </div>
    <input name="todo" id="todo" class="form-control" placeholder="A tiny step" type="text"
      value="<%= params[:todo] %>">
    <fieldset>
      <button class="btn btn-inverse" type="submit">List Action</button>
    </fieldset>
    </div>
</form>