<% habits = @objective.habits %>
<% habit_ids = habits.map { |h| h.id.to_s } %>
<form action="<%= "/objectives/#{@objective.id}/update" %>" method="post">
<fieldset>
<div class="input-group side-by-side">
  <div class="input-group-prepend"><span class="input-group-text">Objective Name</span></div>
  <div class="form-group<% if (@error && @error.include?('name')) %> has-error<% end %>">
    <input type="text" class="form-control"
      name="objective_name" value="<%= @objective.name %>"
      placeholder="Describe the behaviour" required id="objective-name">
  </div>
  <label class="fui-new" for="objective-name"></label>
</div>
<div class="input-group side-by-side">
  <div class="input-group-prepend"><span class="input-group-text">Description</span></div>
  <div class="form-group<% if (@error && @error.include?('description')) %> has-error<% end %>">
    <input type="text" class="form-control"
      name="objective_description" value="<%= @objective.description %>"
      placeholder="Describe the behaviour" required id="objective-description">
  </div>
  <label class="fui-new" for="objective-description"></label>
</div>

<div class="input-group side-by-side">
  <div class="input-group-prepend"><span class="input-group-text">Aspect (most common)</span></div>
  <h4><%= habits.first.aspect %></h4>
  <label class= "fui-tag" for="aspect-tag"></label>
</div>

<div class="input-group side-by-side">
  <div class="input-group-prepend"><span class="input-group-text">Initiation Date</span></div>
  <h4><%= habits.first.date_of_initiation.strftime('%Y-%m-%d') %></h4>
  <label class="fui-calendar" for="objective-start-date"></label>
</div>
<div class="input-group side-by-side h-flex col-sm-6">
  <button class="btn btn-xs btn-inverse" type="submit">Update Objective</button>
  <button class="btn btn-xs btn-danger" formaction="<%= "/objectives/#{@objective.id}/delete" %>">Delete Objective</button>
</div>
<div class="objective-dashboard h-flex">
  <div class="card-header">Running Streaks:</div>
  <div class="card-body">
    <% habits.each do |h| %>
      <span class="streak-count"><h3 class="d-inline-block"><%= calculate_streak(h) %></h3></span>
      <h4><%= split_and_cap(h.name) %></h4></span>
      <span class="btn-block input-group side-by-side h-flex col-sm-6">
      <a href="<%= "/habits/fractal/#{h.id}" %>" class="btn btn-sm btn-info" >Track Habit</a>
      <a href="<%= "/habits/#{h.id}/update" %>" class="btn btn-sm  btn-inverse">Habit Details</a>
      </span>
    <% end %>
  </div>

</div>

</fieldset>
</form>
